
<% @rewards.each do |reward| %>
    <h3>Reward: <%= reward.item %></h3>
    <h3>Cost: <%= reward.cost %> points</h3>
    <%= link_to "Delete", admin_reward_path(:id => reward.id), method: :delete %>
    <br></br>
  <%end %>
<%=link_to "New Reward", new_admin_reward_path%>
