<h2>Hello, <%=@user.username%>.</h2>

<h1>Points: <%= @user.points %></h1>
<h1>Rewards:<% @user.rewards.each do |reward| %></h1>
  <p><%=reward.item %></p>
  <%end %>


<%= link_to "See All Users", admin_users_path if current_user.admin? %>
